<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
</head>





<body>
   
    <div class="wrap">
        <div class="header">
            <div class="logo"><a href="~/Hotel/Index"><img src="~/Content/Images/Logo.png" /></a></div>
            <div class="clear"> </div>
        </div>

        <div class="top-menu">
            <ul>
                <li class="active"><a href="~/Hotel/Index">Home</a></li>
                <li><a href="~/Hotel/AddHotel">Dodaj hotel</a></li>
                <li><a href="~/Hotel/Top10">Top 10</a></li>
                <li><a href="~/Hotel/Search">Wyszukaj</a></li>
                <input id="inputSearch" type="text" placeholder="Podaj nazwę lub adres" />
                <div class="clear"> </div>
            </ul>
        </div>

        <div class="content">

            <div class="container body-content">
                @RenderBody()
        </div>
    </div>

        <div class="footer">
            <img src="~/Content/Images/map-png.png"/>
        </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>